@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-dark-gray: rgb(38, 38, 38); /* Tom de preto não muito forte */
  --color-white: rgb(255, 255, 255);  /* Branco */
  --color-accent: #24A78A;  /* #24A78A */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-dark-gray);
}