@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-accent: #24A78A;
  --background-color: rgb(241 244 239);
  --text-color: rgb(38, 38, 38);
}

.dark {
  --background-color: rgb(38, 38, 38);
  --text-color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
}